.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card{
    width: 33.33%;
    height: 95vh;
    background-color: #000000;
    position: relative;
}
.card2{
    background-color: #1C1C1C;
}
.card-img{
    background-image: url("/img/card.png");
    height: 45vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.card h3{
    font-family: 'Montserrat', sans-serif;
    padding-top: 5vh;
    padding-left: 6.8%;
    font-size: 1.4rem;
}
/*описание блюда и его параметы*/
.foodDescription{
    width: 90%;
    font-size: 1.2rem;
    padding-left: 6.8%;
    padding-top: 5.4vh;
    padding-bottom: 4.8vh;
}
.foodParamContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 6.8%;
    font-size: .96rem;
    width: 90%;
    position: absolute;
    bottom: 20px;
}
/*Значение веса*/
.weight{
    color: #2E2E2E;
    font-weight: 100;
    padding-bottom: 5vh;
}
/*---------Кнопка добавить в корзину---------*/
.addToCartBtn{
    width: 52%;
    font-size: .96rem;
    text-align: center;
    padding: 22px 0;
    border-radius: 10px;
    background-color: #E2002B;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.addToCartBtn:hover{
    background-color: #F91E49;
    cursor: pointer;
}
.booking-btn a{
    display: block;
    width: 100%;
    height: inherit;
}
.booking-btn a:hover{
    color: white;
}
@media (max-width:1366px) {
    .card{
        width: 50%;
    }
}
@media (max-width:800px) {
    .card{
        width: 100%;
    }

}

