.card-container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card{
    width: 33.33%;

    background-color: #000000;
}
.card2{
    background-color: #1C1C1C;
}
.card-img{
    background-image: url("/img/card.png");
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.card h3{
    font-family: 'Montserrat', sans-serif;
    padding-top: 5vh;
    padding-left: 6.8%;
    font-size: 1.4rem;
}
/*описание блюда и его параметы*/
.foodDescription{
    width: 90%;
    font-size: 1.2rem;
    padding-left: 6.8%;
    padding-top: 5.4vh;
    padding-bottom: 4.8vh;
}
.foodParamContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 6.8%;
    font-size: .96rem;
    width: 90%;
}
/*Значение веса*/
.weight{
    color: #2E2E2E;
    font-weight: 100;
}
/*---------Кнопка добавить в корзину---------*/
.addToCartBtn{
    width: 52%;
    font-size: .96rem;
    text-align: center;
    padding: 22px 50px;
    border-radius: 10px;
    background-color: #E2002B;
    margin: 50px auto;
}
@media (max-width:1366px) {
    .card{
        width: 50%;
        height: max-content;
    }

}
@media (max-width:800px) {
    .card{
        width: 100%;
        height: max-content;
    }

}

