
.contentWrapper{
    background-image: url("/img/album.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    position: relative;
    z-index: 2;
    height: 128vh;
}
.contentWrapper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15,15,15,.7);
    z-index: -1;
}
.contactsPage{
    padding-top: 230px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content{
    padding-left: 9%;
    width: 50%;
}
.mainLinks{
    padding-top: 40vh;
}
.mainLinks p{
    padding-bottom: 1.5vh;
}
#map{
    width: 50%;
    height: 92vh;
}
.mainPhones,#location{
    font-size: .92rem;
    text-transform: uppercase;
}
.address,mainPhones{
    padding-left: 2.8%;
}
.mainPhones,.mainLinks,#location{
    letter-spacing: 2px;
    font-weight: 100;
}
.mainPhones{
    display: flex;
    width: 67%;
    justify-content: space-between;
    padding-top: 2vh;
    white-space: nowrap;

}
.address{
    position: relative;
    width: max-content;
}
#locationIcon{
    position: absolute;
    left:-10px;
    top: 2px;
}
.left{
    margin-right: .7%;
}
@media (max-height: 768px) {
    #map{
        height: 86vh;
    }
}
@media (max-width: 1700px) {
    .mainPhones{
        width:72%;
    }
}
@media (max-width: 1400px) {
    .mainPhones{
        width:77%;
    }
}
@media (max-width: 1200px) {
    .mainPhones{
        width:82%;
    }
}
@media (max-width: 1100px) {
    .mainPhones{
        width:87%;
    }
}
@media (max-width: 1000px) {
    .mainPhones{
        width:90%;
    }
}
@media (max-width: 900px) {
    .content {
        padding-left: 5%;
        width: 40%
    }
    #map{
        width: 60%;
    }
    .mainPhones{
        width:100%;
    }

}
@media (max-width: 820px) {
    .flex{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #map{
        height: 81.5vh;
    }
    h2{
        padding-bottom: 5vh;
    }
    .contactsPage{
        padding-top: 10vh;
        flex-direction: column;
        justify-content: space-between;

    }
    .content {
        width: 100%;
        padding-bottom: 20px;
    }
    #map{
        width: 100%;
    }
    .mainLinks{
        padding-top: 0vh;
    }
    .mainPhones{
        justify-content: space-between;
    }

}
@media (max-width: 480px) {
    #map{
        height: 78.5vh;
    }
    .flex{
        width: 98%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mainLinks{
        padding-top: 20px;
    }
}