html{
    background-image: url("/static/img/bookingBackground.png");
}

.contactsPage{
    height: 1540px;
    padding-top: 230px;
    display: flex;
    justify-content: space-between;
}

#map{
    width: 50%;
    height: 100%;
}
