.footer{
    padding-top: 13%;
    padding-bottom: 13%;
    height: 106vh;
    border-top: 3px solid #83071E;
}
footer p{
    padding-bottom: 2.6%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    height: 53vh;
}
.footer-container .logo{

    background-size: contain;
}
.footer-container h4{
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 1vh;
}

.footer-contacts,.schedule {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.time{
    flex-grow: 0.72;
}