.formWrapper{
    text-align: center;
    padding: 20px;
    border: 1px solid #CED4DA;
    border-radius: 10px;
}
.formWrapper{
    margin: 5vh auto;
    width: 40%;
}
.form-group div{
    padding: 10px;
}
.alert-success{
    display: none;
}
.usersRole{
    border: 1px solid #CED4DA;
    border-radius: 10px;
}