@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
}
main{
    width: 30%;
    padding: 30px;
    margin: 40vh auto;
    border: 1px solid #CED4DA;
    border-radius: 10px;
}
.signInError{
    width: 100%;
    text-align: center;
    color: red;
    margin: 20px 0px;
}