@font-face {font-family: "SF Pro Display"; src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot"); src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display") format("svg"); }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h2{
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 90px;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 5;
}
ul{
    list-style-type: none;
}
p{
    font-weight: 100;
    letter-spacing: 1px;
}
a{
    display: block;
    color:white;
    text-decoration: none;
    outline: none;
}
#searchTable:hover{
    rgba(226,0,44,.5)
}
a:hover{
    transition: all .3s ease;
    color: #F78F00;
}
html{
    max-width: 1920px;
    position: relative;
    color: white;
    font-family: 'SF Pro Display', serif;
    background-color: rgba(15,15,15,1);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
}
html:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15,15,15,.7);
    z-index: -1;
}
body{
    margin: 0 auto;
}
.header{
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1640px;
    width: 85%;
}
@media (max-width: 1900px) {
    html{
        font-size: 23px;
    }

}

@media (max-width: 1700px) {
    html{
        font-size: 23px;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 22px;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 21px;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 20px;
    }
}
@media (max-width: 1300px) {
    html{
        font-size: 19px;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 18px;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 17px;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 16px;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 15.5px;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    html{
        font-size: 14.5px;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 14px;
    }
}

