<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chabarok</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<div class="card"><img class="card-img-top w-100 d-block">
    <div class="card-body d-flex flex-column">
        <h4 class="card-title">Название</h4>
        <p class="card-text">Описание</p>
        <p class="card-text">Вес</p>
        <p class="card-text">Стоимость</p><button class="btn btn-secondary" type="button" style="margin-bottom: 6px;">Удалить</button><button class="btn btn-primary" type="button">Обновить</button></div>
</div>
<div class="card"><img class="card-img-top w-100 d-block">
    <div class="card-body d-flex flex-column">
        <h4 class="card-title">Название</h4>
        <p class="card-text">Описание</p>
        <p class="card-text">Вес</p>
        <p class="card-text">Стоимость</p><button class="btn btn-secondary" type="button" style="margin-bottom: 6px;">Удалить</button><button class="btn btn-primary" type="button">Обновить</button></div>
</div>

<script th:src="@{/js/adminMenu.js}" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>