<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/commonHeader.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Корзина</title>
</head>
<body>
<div class="backgroundContainer"></div>
<header class="header">
    <div class="pre-header">
        <div class="location"><span><img th:src="@{/img/ic_place_24px.png}" alt="location">Гомель, Черниговское шоссе 9-й км.</span>
        </div>
        <div class="phones">
            <span>+ 375 232 37 84 00</span>
            <span>+ 375 44 722 26 54 </span>
        </div>
    </div>
    <div class="container nav-container">
        <nav class="nav">
            <div class="logo"><a th:href="@{/}" style="display: block;width: 100%;height: 100%;cursor: pointer;"></a>
            </div>
            <ul class="nav-menu">
                <li><a href="/menu">Меню</a></li>
                <li><a href="/burak">Бурак</a></li>
                <li><a href="/booking">Забронировать</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/deliver">Доставка</a></li>
                <li><a href="/cart">Корзина</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <article class="cart">
        <div class="container"><h2>Корзина</h2></div>
        <div class="card-container clientOrder" id="cardContainer">
            <div class="card">
                <div class="card-img"></div>
                <h3>Шашлык из говядины <br>
                    на шпажке
                </h3>
                <p class="foodDescription">Неимоверно вкусная говядина,
                    приготовленная лучшими поварами
                    ресторана Чабарок.</p>
                <div class="foodParamContainer">
                    <div class="weight">150г</div>
                    <div class="price">499p.</div>
                </div>
            </div>
            <div class="card card2">
                <div class="card-img"></div>
                <h3>Шашлык из говядины <br>
                    на шпажке
                </h3>
                <p class="foodDescription">Неимоверно вкусная говядина,
                    приготовленная лучшими поварами
                    ресторана Чабарок.</p>
                <div class="foodParamContainer">
                    <div class="weight">150г</div>
                    <div class="price">499p.</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img"></div>
                <h3>Шашлык из говядины <br>
                    на шпажке
                </h3>
                <p class="foodDescription">Неимоверно вкусная говядина,
                    приготовленная лучшими поварами
                    ресторана Чабарок.</p>
                <div class="foodParamContainer">
                    <div class="weight">150г</div>
                    <div class="price">499p.</div>
                </div>
            </div>
        </div>
    </article>
    <article class="order">
        <div class="total container">
            <div class="resultContainer">
                <h2>Итого</h2>
                <ul>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>
                    <li class="orderElem">
                        <div>
                            <span class="name">Питьевая вода</span>
                        </div>
                        <div>
                            <span class="cost">199$</span><span class="plus">+</span><span class="count">1</span><span
                                class="minus">-</span>
                        </div>
                    </li>


                </ul>
                <div class="result">
                    <div><h2>К оплате</h2></div>
                    <div id="resultCost"><h2>55$</h2></div>
                </div>
                <div class="form">
                    <div><input value="Имя" type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div id="btn">Заказать</div>
                </div>
            </div>
            <div class="image-container"></div>
        </div>
    </article>
</main>
<footer class="footer">
    <div class="container footer-container">
        <div class="footer-contacts">
            <div><h4>Контакты</h4></div>
            <div class="footer-contacts">
                <p>Гомель, Черниговское шоссе 9-й км.</p>
                <p>+ 375 44 722 26 54</p>
                <p>+ 375 232 37 84 00</p>
            </div>
            <div class="links">
                <p>Вконтакте</p>
                <p>Instagram</p>
                <p>Facebook</p>
            </div>
        </div>
        <div class="schedule">
            <div><h4>Время работы</h4></div>
            <p class="time">Среда - Воскресенье <br><br> 12.00 - 02.00</p>
        </div>
        <div class="logo"></div>
    </div>
</footer>
<script th:src="@{/js/cart.js}" type="module"></script>
</body>
</html>